/* Figma Styles of your File */
:root {
  /* Colors */
  --primary-100: #ded3fa;
  --primary-200: #bda8f5;
  --primary-300: #9c7cef;
  --primary-400: #7b51ea;
  --primary-500: #6b02ff;
  --primary-600: #481eb7;
  --primary-700: #361689;
  --primary-800: #240f5c;
  --primary-900: #12072e;
  --secondary-100: #e1f6f4;
  --secondary-200: #c3ede9;
  --secondary-300: #a4e4de;
  --secondary-400: #86dbd3;
  --secondary-500: #68d2c8;
  --secondary-600: #53a8a0;
  --secondary-700: #3e7e78;
  --secondary-800: #2a5450;
  --secondary-900: #152a28;
  --dark-100: #d2d1d2;
  --dark-200: #a6a3a4;
  --dark-300: #797677;
  --dark-400: #4d4849;
  --dark-500: #201a1c;
  --dark-600: #1a1516;
  --dark-700: #131011;
  --dark-800: #0d0a0b;
  --dark-900: #060506;
  --gray-100: #f6f6f6;
  --gray-200: #ededed;
  --gray-300: #e4e4e4;
  --gray-400: #dbdadb;
  --gray-500: #d2d1d2;
  --gray-600: #a8a7a8;
  --gray-700: #7e7e7e;
  --gray-800: #545454;
  --gray-900: #2a2a2a;
  --error-100: #fcdad7;
  --error-200: #f9b4af;
  --error-300: #f68f88;
  --error-400: #f36960;
  --error-500: #f04438;
  --error-600: #c0362d;
  --error-700: #902922;
  --error-800: #601b16;
  --error-900: #300e0b;
  --success-100: #d1f0e1;
  --success-200: #a2e0c3;
  --success-300: #74d1a6;
  --success-400: #45c188;
  --success-500: #17b26a;
  --success-600: #128e55;
  --success-700: #0e6b40;
  --success-800: #09472a;
  --success-900: #052415;
  --warning-100: #fde9ce;
  --warning-200: #fcd39d;
  --warning-300: #fabc6b;
  --warning-400: #f9a63a;
  --warning-500: #f79009;
  --warning-600: #c67307;
  --warning-700: #945605;
  --warning-800: #633a04;
  --warning-900: #311d02;

  /* Fonts */
  --header-2xl-regular-font-family: Figtree-Regular, sans-serif;
  --header-2xl-regular-font-size: 72px;
  --header-2xl-regular-line-height: 90px;
  --header-2xl-regular-font-weight: 400;
  --header-2xl-regular-font-style: normal;
  --header-2xl-medium-font-family: Figtree-SemiBold, sans-serif;
  --header-2xl-medium-font-size: 72px;
  --header-2xl-medium-line-height: 90px;
  --header-2xl-medium-font-weight: 600;
  --header-2xl-medium-font-style: normal;
  --header-2xl-semi-bold-font-family: Figtree-SemiBold, sans-serif;
  --header-2xl-semi-bold-font-size: 72px;
  --header-2xl-semi-bold-line-height: 90px;
  --header-2xl-semi-bold-font-weight: 600;
  --header-2xl-semi-bold-font-style: normal;
  --header-2xl-bold-font-family: Figtree-Bold, sans-serif;
  --header-2xl-bold-font-size: 72px;
  --header-2xl-bold-line-height: 90px;
  --header-2xl-bold-font-weight: 700;
  --header-2xl-bold-font-style: normal;
  --header-2xl-black-font-family: Figtree-Black, sans-serif;
  --header-2xl-black-font-size: 72px;
  --header-2xl-black-line-height: 90px;
  --header-2xl-black-font-weight: 900;
  --header-2xl-black-font-style: normal;
  --header-xl-regular-font-family: Figtree-Regular, sans-serif;
  --header-xl-regular-font-size: 60px;
  --header-xl-regular-line-height: normal;
  --header-xl-regular-font-weight: 400;
  --header-xl-regular-font-style: normal;
  --header-xl-medium-font-family: Figtree-Medium, sans-serif;
  --header-xl-medium-font-size: 60px;
  --header-xl-medium-line-height: normal;
  --header-xl-medium-font-weight: 500;
  --header-xl-medium-font-style: normal;
  --header-xl-semi-bold-font-family: Figtree-SemiBold, sans-serif;
  --header-xl-semi-bold-font-size: 60px;
  --header-xl-semi-bold-line-height: normal;
  --header-xl-semi-bold-font-weight: 600;
  --header-xl-semi-bold-font-style: normal;
  --header-xl-bold-font-family: Figtree-Bold, sans-serif;
  --header-xl-bold-font-size: 60px;
  --header-xl-bold-line-height: normal;
  --header-xl-bold-font-weight: 700;
  --header-xl-bold-font-style: normal;
  --header-xl-black-font-family: Figtree-Black, sans-serif;
  --header-xl-black-font-size: 60px;
  --header-xl-black-line-height: normal;
  --header-xl-black-font-weight: 900;
  --header-xl-black-font-style: normal;
  --header-lg-regular-font-family: Figtree-Regular, sans-serif;
  --header-lg-regular-font-size: 48px;
  --header-lg-regular-line-height: normal;
  --header-lg-regular-font-weight: 400;
  --header-lg-regular-font-style: normal;
  --header-lg-medium-font-family: Figtree-Medium, sans-serif;
  --header-lg-medium-font-size: 48px;
  --header-lg-medium-line-height: normal;
  --header-lg-medium-font-weight: 500;
  --header-lg-medium-font-style: normal;
  --header-lg-semi-bold-font-family: Figtree-SemiBold, sans-serif;
  --header-lg-semi-bold-font-size: 48px;
  --header-lg-semi-bold-line-height: normal;
  --header-lg-semi-bold-font-weight: 600;
  --header-lg-semi-bold-font-style: normal;
  --header-lg-bold-font-family: Figtree-Bold, sans-serif;
  --header-lg-bold-font-size: 48px;
  --header-lg-bold-line-height: normal;
  --header-lg-bold-font-weight: 700;
  --header-lg-bold-font-style: normal;
  --header-lg-black-font-family: Figtree-Black, sans-serif;
  --header-lg-black-font-size: 48px;
  --header-lg-black-line-height: normal;
  --header-lg-black-font-weight: 900;
  --header-lg-black-font-style: normal;
  --header-md-regular-font-family: Figtree-Regular, sans-serif;
  --header-md-regular-font-size: 36px;
  --header-md-regular-line-height: normal;
  --header-md-regular-font-weight: 400;
  --header-md-regular-font-style: normal;
  --header-md-medium-font-family: Figtree-Medium, sans-serif;
  --header-md-medium-font-size: 36px;
  --header-md-medium-line-height: normal;
  --header-md-medium-font-weight: 500;
  --header-md-medium-font-style: normal;
  --header-md-semi-bold-font-family: Figtree-SemiBold, sans-serif;
  --header-md-semi-bold-font-size: 36px;
  --header-md-semi-bold-line-height: normal;
  --header-md-semi-bold-font-weight: 600;
  --header-md-semi-bold-font-style: normal;
  --header-md-bold-font-family: Figtree-Bold, sans-serif;
  --header-md-bold-font-size: 36px;
  --header-md-bold-line-height: normal;
  --header-md-bold-font-weight: 700;
  --header-md-bold-font-style: normal;
  --header-md-black-font-family: Figtree-Black, sans-serif;
  --header-md-black-font-size: 36px;
  --header-md-black-line-height: normal;
  --header-md-black-font-weight: 900;
  --header-md-black-font-style: normal;
  --header-sm-regular-font-family: Figtree-Regular, sans-serif;
  --header-sm-regular-font-size: 24px;
  --header-sm-regular-line-height: normal;
  --header-sm-regular-font-weight: 400;
  --header-sm-regular-font-style: normal;
  --header-sm-medium-font-family: Figtree-Medium, sans-serif;
  --header-sm-medium-font-size: 24px;
  --header-sm-medium-line-height: normal;
  --header-sm-medium-font-weight: 500;
  --header-sm-medium-font-style: normal;
  --header-sm-semi-bold-font-family: Figtree-SemiBold, sans-serif;
  --header-sm-semi-bold-font-size: 24px;
  --header-sm-semi-bold-line-height: normal;
  --header-sm-semi-bold-font-weight: 600;
  --header-sm-semi-bold-font-style: normal;
  --header-sm-bold-font-family: Figtree-Bold, sans-serif;
  --header-sm-bold-font-size: 24px;
  --header-sm-bold-line-height: normal;
  --header-sm-bold-font-weight: 700;
  --header-sm-bold-font-style: normal;
  --header-sm-black-font-family: Figtree-Black, sans-serif;
  --header-sm-black-font-size: 24px;
  --header-sm-black-line-height: normal;
  --header-sm-black-font-weight: 900;
  --header-sm-black-font-style: normal;
  --body-lg-regular-font-family: Figtree-Regular, sans-serif;
  --body-lg-regular-font-size: 20px;
  --body-lg-regular-line-height: normal;
  --body-lg-regular-font-weight: 400;
  --body-lg-regular-font-style: normal;
  --body-lg-medium-font-family: Figtree-Medium, sans-serif;
  --body-lg-medium-font-size: 20px;
  --body-lg-medium-line-height: normal;
  --body-lg-medium-font-weight: 500;
  --body-lg-medium-font-style: normal;
  --body-lg-semi-bold-font-family: Figtree-SemiBold, sans-serif;
  --body-lg-semi-bold-font-size: 20px;
  --body-lg-semi-bold-line-height: normal;
  --body-lg-semi-bold-font-weight: 600;
  --body-lg-semi-bold-font-style: normal;
  --body-lg-bold-font-family: Figtree-Bold, sans-serif;
  --body-lg-bold-font-size: 20px;
  --body-lg-bold-line-height: normal;
  --body-lg-bold-font-weight: 700;
  --body-lg-bold-font-style: normal;
  --body-lg-black-font-family: Figtree-Black, sans-serif;
  --body-lg-black-font-size: 20px;
  --body-lg-black-line-height: normal;
  --body-lg-black-font-weight: 900;
  --body-lg-black-font-style: normal;
  --body-md-regular-font-family: Figtree-Regular, sans-serif;
  --body-md-regular-font-size: 16px;
  --body-md-regular-line-height: normal;
  --body-md-regular-font-weight: 400;
  --body-md-regular-font-style: normal;
  --body-md-medium-font-family: Figtree-Medium, sans-serif;
  --body-md-medium-font-size: 16px;
  --body-md-medium-line-height: normal;
  --body-md-medium-font-weight: 500;
  --body-md-medium-font-style: normal;
  --body-md-semi-bold-font-family: Figtree-SemiBold, sans-serif;
  --body-md-semi-bold-font-size: 16px;
  --body-md-semi-bold-line-height: normal;
  --body-md-semi-bold-font-weight: 600;
  --body-md-semi-bold-font-style: normal;
  --body-md-bold-font-family: Figtree-Bold, sans-serif;
  --body-md-bold-font-size: 16px;
  --body-md-bold-line-height: normal;
  --body-md-bold-font-weight: 700;
  --body-md-bold-font-style: normal;
  --body-md-black-font-family: Figtree-Black, sans-serif;
  --body-md-black-font-size: 16px;
  --body-md-black-line-height: normal;
  --body-md-black-font-weight: 900;
  --body-md-black-font-style: normal;
  --body-sm-regular-font-family: Figtree-Regular, sans-serif;
  --body-sm-regular-font-size: 12px;
  --body-sm-regular-line-height: normal;
  --body-sm-regular-font-weight: 400;
  --body-sm-regular-font-style: normal;
  --body-sm-medium-font-family: Figtree-Medium, sans-serif;
  --body-sm-medium-font-size: 12px;
  --body-sm-medium-line-height: normal;
  --body-sm-medium-font-weight: 500;
  --body-sm-medium-font-style: normal;
  --body-sm-semi-bold-font-family: Figtree-SemiBold, sans-serif;
  --body-sm-semi-bold-font-size: 12px;
  --body-sm-semi-bold-line-height: normal;
  --body-sm-semi-bold-font-weight: 600;
  --body-sm-semi-bold-font-style: normal;
  --body-sm-bold-font-family: Figtree-Bold, sans-serif;
  --body-sm-bold-font-size: 12px;
  --body-sm-bold-line-height: normal;
  --body-sm-bold-font-weight: 700;
  --body-sm-bold-font-style: normal;
  --body-sm-black-font-family: Figtree-Black, sans-serif;
  --body-sm-black-font-size: 12px;
  --body-sm-black-line-height: normal;
  --body-sm-black-font-weight: 900;
  --body-sm-black-font-style: normal;

  /* Effects */
}
