.dapp-profle,
.dapp-profle * {
  box-sizing: border-box;
}
.dapp-profle {
  background: var(--background, #060709);
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bg-glow {
  height: 1090px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.page-footer {
  width: 1440px;
  height: 85px;
  position: absolute;
  left: 0px;
  top: 939px;
  overflow: hidden;
}
._2024-de-change-inc-all-rights-reserved {
  color: var(--gray-700, #7e7e7e);
  text-align: left;
  font-family: var(--body-md-medium-font-family, "Figtree-Medium", sans-serif);
  font-size: var(--body-md-medium-font-size, 16px);
  font-weight: var(--body-md-medium-font-weight, 500);
  position: absolute;
  left: 23px;
  top: calc(50% - 9.5px);
}
.socials {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 32px;
  top: calc(50% - 11.5px);
}
.you-tube-negative {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.twitter-negative {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.discord-negative {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.linked-in-negative {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.banner {
  border-radius: var(--20, 20px);
  height: 182px;
  position: absolute;
  right: 32px;
  left: 328px;
  top: 126px;
  overflow: hidden;
}
.rectangle-10 {
  border-radius: 95px;
  width: 568px;
  height: 188px;
  position: absolute;
  left: 47px;
  top: 88px;
  filter: blur(67.85px);
  object-fit: cover;
}
.name {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 243px;
  top: 127px;
}
.tom-base-eth {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --header-md-semi-bold-font-family,
    "Figtree-SemiBold",
    sans-serif
  );
  font-size: var(--header-md-semi-bold-font-size, 36px);
  letter-spacing: var(--header-md-semi-bold-letter-spacing, -0.02em);
  font-weight: var(--header-md-semi-bold-font-weight, 600);
  position: relative;
}
.button {
  border-radius: var(--8, 8px);
  padding: var(--8, 8px) var(--12, 12px) var(--8, 8px) var(--12, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--0, 0px);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 34px;
  position: relative;
  box-shadow: inset 0px 0px 5.3px 2px rgba(255, 255, 255, 0.25),
    0px 0px 0px 0px rgba(123, 81, 234, 0.25),
    0px 0px 0px 0px rgba(123, 81, 234, 0.19);
  overflow: hidden;
}
.fi-copy-white {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.fi-edit-2-white {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.stats {
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.02),
    rgba(255, 255, 255, 0.02)
  );
  border-radius: var(--20, 20px);
  height: 151px;
  position: absolute;
  right: 32px;
  left: 328px;
  top: 318px;
  overflow: hidden;
}
.rectangle-102 {
  background: linear-gradient(to left, #101010, #101010);
  border-radius: 95px;
  width: 882px;
  height: 197px;
  position: absolute;
  left: 223px;
  top: -146px;
  filter: blur(75px);
  object-fit: cover;
}
.date-joined {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 249px;
  top: 11px;
}
.joined {
  color: var(--gray-400, #dbdadb);
  text-align: left;
  font-family: var(--body-lg-medium-font-family, "Figtree-Medium", sans-serif);
  font-size: var(--body-lg-medium-font-size, 20px);
  font-weight: var(--body-lg-medium-font-weight, 500);
  position: relative;
}
.october-2024 {
  color: var(--gray-400, #dbdadb);
  text-align: left;
  font-family: var(--body-lg-medium-font-family, "Figtree-Medium", sans-serif);
  font-size: var(--body-lg-medium-font-size, 20px);
  font-weight: var(--body-lg-medium-font-weight, 500);
  position: relative;
}
.frame-64 {
  background: rgba(255, 255, 255, 0.03);
  border-radius: var(--12, 12px);
  height: 73px;
  position: absolute;
  right: 20px;
  left: 250px;
  top: 58px;
  overflow: hidden;
}
.stats2 {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-lg-medium-font-family, "Figtree-Medium", sans-serif);
  font-size: var(--body-lg-medium-font-size, 20px);
  font-weight: var(--body-lg-medium-font-weight, 500);
  position: absolute;
  left: 23px;
  top: calc(50% - 11.5px);
}
.stats3 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 12px;
  left: 120px;
  top: calc(50% - 25px);
}
.stats4 {
  border-radius: var(--8, 8px);
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.07);
  border-width: 1px;
  padding: 6px 8px 6px 8px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.courses {
  color: rgba(255, 255, 255, 0.55);
  text-align: center;
  font-family: var(
    --body-sm-regular-font-family,
    "Figtree-Regular",
    sans-serif
  );
  font-size: var(--body-sm-regular-font-size, 12px);
  font-weight: var(--body-sm-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}
._20 {
  color: #ffffff;
  text-align: center;
  font-family: var(--body-md-medium-font-family, "Figtree-Medium", sans-serif);
  font-size: var(--body-md-medium-font-size, 16px);
  font-weight: var(--body-md-medium-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.ellipse-16 {
  background: var(--dark-900, #060506);
  border-radius: 50%;
  flex-shrink: 0;
  width: 38px;
  height: 35px;
  position: absolute;
  left: -8px;
  top: calc(50% - 18px);
  filter: blur(24.65px);
}
.fi-book-white {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 5.5px;
  top: calc(50% - 8.5px);
  overflow: visible;
}
.lessons-completed {
  color: rgba(255, 255, 255, 0.55);
  text-align: center;
  font-family: var(
    --body-sm-regular-font-family,
    "Figtree-Regular",
    sans-serif
  );
  font-size: var(--body-sm-regular-font-size, 12px);
  font-weight: var(--body-sm-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.ellipse-162 {
  background: var(--dark-900, #060506);
  border-radius: 50%;
  flex-shrink: 0;
  width: 38px;
  height: 35px;
  position: absolute;
  left: -7.5px;
  top: calc(50% - 18px);
  filter: blur(24.65px);
}
.fi-book-open-white {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 6px;
  top: calc(50% - 8.5px);
  overflow: visible;
}
.certificates-earned {
  color: rgba(255, 255, 255, 0.55);
  text-align: center;
  font-family: var(
    --body-sm-regular-font-family,
    "Figtree-Regular",
    sans-serif
  );
  font-size: var(--body-sm-regular-font-size, 12px);
  font-weight: var(--body-sm-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}
._202 {
  color: #ffffff;
  text-align: center;
  font-family: var(--body-lg-medium-font-family, "Figtree-Medium", sans-serif);
  font-size: var(--body-lg-medium-font-size, 20px);
  font-weight: var(--body-lg-medium-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.certificate {
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 6px;
  top: calc(50% - 11px);
  overflow: hidden;
}
.docs {
  border-radius: 3.67px;
  width: 14.98px;
  height: 12.43px;
  position: absolute;
  left: 1.82px;
  top: 3.21px;
  overflow: visible;
}
.badge {
  width: 37.6%;
  height: 61.97%;
  position: absolute;
  right: 8.26%;
  left: 54.14%;
  bottom: 14.57%;
  top: 23.46%;
  overflow: visible;
}
.lifetime-d-points {
  color: rgba(255, 255, 255, 0.55);
  text-align: center;
  font-family: var(
    --body-sm-regular-font-family,
    "Figtree-Regular",
    sans-serif
  );
  font-size: var(--body-sm-regular-font-size, 12px);
  font-weight: var(--body-sm-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}
._20-000 {
  color: #ffffff;
  text-align: center;
  font-family: var(--body-lg-medium-font-family, "Figtree-Medium", sans-serif);
  font-size: var(--body-lg-medium-font-size, 20px);
  font-weight: var(--body-lg-medium-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.d-points {
  padding: 2px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  left: 4.5px;
  top: calc(50% - 11px);
}
.frame-20 {
  background: var(--primary-400, #7b51ea);
  border-radius: 9.6px 49.2px 49.2px 9.6px;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: hidden;
}
.frame-21 {
  background: var(--primary-300, #9c7cef);
  border-radius: 7.15px 36.64px 36.64px 7.15px;
  width: 19.2px;
  height: 19.2px;
  position: absolute;
  left: calc(50% - 6.6px);
  top: calc(50% - 13.2px);
  overflow: hidden;
}
.proffile-picture {
  border-radius: 100px;
  border-style: solid;
  border-color: transparent;
  border-width: 8px;
  width: 182px;
  height: 182px;
  position: absolute;
  left: calc(50% - 351px);
  top: 217px;
  overflow: hidden;
  object-fit: cover;
}
.category {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  width: 621px;
  position: absolute;
  left: 328px;
  top: 493px;
  overflow: hidden;
}
.category-selector {
  background: rgba(88, 40, 214, 0.19);
  border-radius: var(--8, 8px);
  padding: var(--4, 4px) var(--12, 12px) var(--4, 4px) var(--12, 12px);
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 27px;
  position: relative;
}
.all {
  color: var(--primary-400, #7b51ea);
  text-align: left;
  font-family: var(
    --body-md-semi-bold-font-family,
    "Figtree-SemiBold",
    sans-serif
  );
  font-size: var(--body-md-semi-bold-font-size, 16px);
  font-weight: var(--body-md-semi-bold-font-weight, 600);
  position: relative;
}
.count {
  background: rgba(9, 9, 9, 0.31);
  border-radius: 41px;
  padding: var(--2, 2px) var(--4, 4px) var(--2, 2px) var(--4, 4px);
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._99 {
  color: #ffffff;
  text-align: left;
  font-family: var(--body-sm-medium-font-family, "Figtree-Medium", sans-serif);
  font-size: var(--body-sm-medium-font-size, 12px);
  font-weight: var(--body-sm-medium-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.category-selector2 {
  border-radius: var(--8, 8px);
  padding: var(--4, 4px) var(--12, 12px) var(--4, 4px) var(--12, 12px);
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 27px;
  position: relative;
}
.all2 {
  color: var(--gray-600, #a8a7a8);
  text-align: left;
  font-family: var(
    --body-md-semi-bold-font-family,
    "Figtree-SemiBold",
    sans-serif
  );
  font-size: var(--body-md-semi-bold-font-size, 16px);
  font-weight: var(--body-md-semi-bold-font-weight, 600);
  position: relative;
}
.course-cards {
  background: rgba(255, 255, 255, 0.04);
  border-radius: 24px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    180deg,
    rgba(123, 81, 234, 0.18) 0%,
    rgba(69, 45, 132, 0) 100%
  );
  border-image-slice: 1;
  padding: 12px 12px 18px 12px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 252px;
  position: absolute;
  left: 328px;
  top: 550px;
  box-shadow: inset 0px -2px 9.6px 0px rgba(221, 221, 221, 0.09);
  overflow: hidden;
  backdrop-filter: blur(9.15px);
}
.image {
  border-radius: 12px;
  align-self: stretch;
  flex-shrink: 0;
  height: 143px;
  position: relative;
  overflow: hidden;
}
.level-badge {
  background: var(--primary-100, #ded3fa);
  border-radius: 4px;
  padding: 2px 8px 2px 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
}
.beginner {
  color: var(--primary-700, #361689);
  text-align: left;
  font-family: var(
    --body-sm-regular-font-family,
    "Figtree-Regular",
    sans-serif
  );
  font-size: var(--body-sm-regular-font-size, 12px);
  font-weight: var(--body-sm-regular-font-weight, 400);
  position: relative;
}
.progress {
  background: #ffffff;
  border-radius: 6px;
  padding: 2px var(--2, 2px) 2px 2px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 8px;
  top: 8px;
  overflow: hidden;
}
.progress2 {
  background: var(--primary-100, #ded3fa);
  border-radius: 3.64px;
  padding: 1.82px;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
}
.ellipse-3 {
  background: var(--primary-300, #9c7cef);
  border-radius: 50%;
  width: 15.33px;
  height: 15.33px;
  position: absolute;
  left: 2.33px;
  top: 2.33px;
}
.ellipse-4 {
  background: var(--primary-500, #6b02ff);
  border-radius: 50%;
  width: 16.36px;
  height: 16.36px;
  position: absolute;
  left: 1.82px;
  top: 1.82px;
}
.text {
  padding: 0px var(--4, 4px) 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.your-progress {
  color: var(--gray-800, #545454);
  text-align: left;
  font-family: var(
    --body-sm-regular-font-family,
    "Figtree-Regular",
    sans-serif
  );
  font-size: var(--body-sm-regular-font-size, 12px);
  font-weight: var(--body-sm-regular-font-weight, 400);
  position: relative;
}
.ellipse-11 {
  background: var(--primary-400, #7b51ea);
  border-radius: 50%;
  width: 115px;
  height: 147px;
  position: absolute;
  left: calc(50% - 45px);
  top: 225px;
  filter: blur(100px);
}
.course-title {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(
    --header-sm-medium-font-family,
    "Figtree-Medium",
    sans-serif
  );
  font-size: var(--header-sm-medium-font-size, 24px);
  letter-spacing: var(--header-sm-medium-letter-spacing, -0.02em);
  font-weight: var(--header-sm-medium-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.course-details {
  color: var(--gray-500, #d2d1d2);
  text-align: left;
  font-family: var(
    --body-md-regular-font-family,
    "Figtree-Regular",
    sans-serif
  );
  font-size: var(--body-md-regular-font-size, 16px);
  font-weight: var(--body-md-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
  max-height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.type {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.testnet {
  color: var(--gray-500, #d2d1d2);
  text-align: left;
  font-family: var(
    --body-sm-regular-font-family,
    "Figtree-Regular",
    sans-serif
  );
  font-size: var(--body-sm-regular-font-size, 12px);
  font-weight: var(--body-sm-regular-font-weight, 400);
  position: relative;
}
.ellipse-2 {
  background: var(--gray-500, #d2d1d2);
  border-radius: 50%;
  flex-shrink: 0;
  width: 4px;
  height: 4px;
  position: relative;
}
.mainnet {
  color: var(--gray-500, #d2d1d2);
  text-align: left;
  font-family: var(
    --body-sm-regular-font-family,
    "Figtree-Regular",
    sans-serif
  );
  font-size: var(--body-sm-regular-font-size, 12px);
  font-weight: var(--body-sm-regular-font-weight, 400);
  position: relative;
}
.reward {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-22 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-202 {
  background: var(--primary-400, #7b51ea);
  border-radius: 8px 41px 41px 8px;
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: hidden;
}
.frame-212 {
  background: var(--primary-300, #9c7cef);
  border-radius: 5.96px 30.53px 30.53px 5.96px;
  width: 16px;
  height: 16px;
  position: absolute;
  left: calc(50% - 5.5px);
  top: calc(50% - 11px);
  overflow: hidden;
}
._100 {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --body-sm-regular-font-family,
    "Figtree-Regular",
    sans-serif
  );
  font-size: var(--body-sm-regular-font-size, 12px);
  font-weight: var(--body-sm-regular-font-weight, 400);
  position: relative;
}
.frame-23 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.tether-usdt-logo {
  flex-shrink: 0;
  width: 17.88px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.frame-24 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.fi-badge {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
}
.badge2 {
  width: 50.16%;
  height: 82.66%;
  position: absolute;
  right: 24.92%;
  left: 24.92%;
  bottom: 8.67%;
  top: 8.67%;
  overflow: visible;
}
.role {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --body-sm-regular-font-family,
    "Figtree-Regular",
    sans-serif
  );
  font-size: var(--body-sm-regular-font-size, 12px);
  font-weight: var(--body-sm-regular-font-weight, 400);
  position: relative;
}
.ellipse-112 {
  background: var(--primary-400, #7b51ea);
  border-radius: 50%;
  flex-shrink: 0;
  width: 115px;
  height: 147px;
  position: absolute;
  left: calc(50% - 57px);
  top: 305px;
  filter: blur(100px);
}
.course-cards2 {
  background: rgba(255, 255, 255, 0.04);
  border-radius: 24px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    180deg,
    rgba(123, 81, 234, 0.18) 0%,
    rgba(69, 45, 132, 0) 100%
  );
  border-image-slice: 1;
  padding: 12px 12px 18px 12px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 252px;
  position: absolute;
  left: 604px;
  top: 550px;
  box-shadow: inset 0px -2px 9.6px 0px rgba(221, 221, 221, 0.09);
  overflow: hidden;
  backdrop-filter: blur(9.15px);
}
.level-badge2 {
  background: var(--error-100, #fcdad7);
  border-radius: 4px;
  padding: 2px 8px 2px 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
}
.advanced {
  color: var(--error-500, #f04438);
  text-align: left;
  font-family: var(
    --body-sm-regular-font-family,
    "Figtree-Regular",
    sans-serif
  );
  font-size: var(--body-sm-regular-font-size, 12px);
  font-weight: var(--body-sm-regular-font-weight, 400);
  position: relative;
}
.tether-usdt-logo2 {
  flex-shrink: 0;
  width: 17.88px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.badge3 {
  width: 50.16%;
  height: 82.66%;
  position: absolute;
  right: 24.92%;
  left: 24.92%;
  bottom: 8.67%;
  top: 8.67%;
  overflow: visible;
}
.top-bar {
  background: rgba(0, 0, 0, 0.01);
  width: 1152px;
  height: 78px;
  position: sticky;
  right: 0px;
  top: 16px;
  backdrop-filter: blur(9.55px);
}
.text-field {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 27px;
  padding: 12px 20px 12px 20px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 407px;
  position: absolute;
  left: calc(50% - 204px);
  top: calc(50% - 22px);
  overflow: hidden;
}
.search-topics-project-or-narrative {
  color: var(--gray-700, #7e7e7e);
  text-align: left;
  font-family: var(
    --body-md-regular-font-family,
    "Figtree-Regular",
    sans-serif
  );
  font-size: var(--body-md-regular-font-size, 16px);
  font-weight: var(--body-md-regular-font-weight, 400);
  position: relative;
  flex: 1;
}
.title {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  height: 44px;
  position: absolute;
  left: 28px;
  top: 15.5px;
}
.text-area {
  padding: 0px 0px 0px var(--12, 12px);
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.classroom {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --header-sm-semi-bold-font-family,
    "Figtree-SemiBold",
    sans-serif
  );
  font-size: var(--header-sm-semi-bold-font-size, 24px);
  letter-spacing: var(--header-sm-semi-bold-letter-spacing, -0.02em);
  font-weight: var(--header-sm-semi-bold-font-weight, 600);
  position: relative;
}
.user-section {
  background: rgba(255, 255, 255, 0.05);
  border-radius: var(--8, 8px);
  padding: 4px var(--8, 8px) 4px 4px;
  display: flex;
  flex-direction: row;
  gap: var(--8, 8px);
  align-items: center;
  justify-content: flex-start;
  width: 180px;
  height: 40px;
  position: absolute;
  right: 32px;
  top: calc(50% - 20px);
}
.profile {
  border-radius: var(--4, 4px);
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.tom-base-eth2 {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--body-md-medium-font-family, "Figtree-Medium", sans-serif);
  font-size: var(--body-md-medium-font-size, 16px);
  font-weight: var(--body-md-medium-font-weight, 500);
  position: relative;
}
.fi-chevron-down-white {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.user-section2 {
  background: rgba(255, 255, 255, 0.05);
  border-radius: var(--8, 8px);
  padding: 4px var(--8, 8px) 4px var(--8, 8px);
  display: flex;
  flex-direction: row;
  gap: var(--8, 8px);
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  position: absolute;
  right: 220px;
  top: 19px;
}
.d-points2 {
  padding: 2px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.user-section3 {
  background: rgba(255, 255, 255, 0.05);
  border-radius: var(--8, 8px);
  padding: 4px var(--8, 8px) 4px var(--8, 8px);
  display: flex;
  flex-direction: row;
  gap: var(--8, 8px);
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  position: absolute;
  right: 302px;
  top: 19px;
}
.base-logo {
  padding: 2px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ellipse-10 {
  background: conic-gradient(
    from -90deg at 50% 50%,
    rgba(249, 255, 253, 1) 0%,
    rgba(43, 99, 240, 1) 55.89996576309204%,
    rgba(27, 87, 239, 1) 66.3999617099762%,
    rgba(20, 82, 239, 1) 100%
  );
  border-radius: 50%;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
}
.side-nav {
  background: linear-gradient(
      0deg,
      rgba(83, 25, 237, 0) 0%,
      rgba(83, 25, 237, 0.07) 100%
    ),
    linear-gradient(
      to left,
      rgba(255, 255, 255, 0.03),
      rgba(255, 255, 255, 0.03)
    );
  border-radius: var(--16, 16px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 264px;
  position: sticky;
  left: 24px;
  top: 16px;
  box-shadow: inset 0px 0px 7.6px 0px rgba(144, 101, 255, 0.76),
    inset 0px 0px 43.4px 0px rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(55.85px);
}
.logo-area {
  border-style: solid;
  border-color: #171a20;
  border-width: 0px 0px 1px 0px;
  align-self: stretch;
  flex-shrink: 0;
  height: 70px;
  position: relative;
  overflow: hidden;
}
.logo {
  display: flex;
  flex-direction: row;
  gap: 14.67px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 18px;
  top: calc(50% - 22px);
  overflow: hidden;
}
.logo2 {
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  position: relative;
  overflow: visible;
}
.de-change {
  color: var(--primary-400, #7b51ea);
  text-align: center;
  font-family: var(--header-sm-bold-font-family, "Figtree-Bold", sans-serif);
  font-size: var(--header-sm-bold-font-size, 24px);
  letter-spacing: var(--header-sm-bold-letter-spacing, -0.02em);
  font-weight: var(--header-sm-bold-font-weight, 700);
  position: relative;
}
.gap {
  align-self: stretch;
  flex-shrink: 0;
  height: 42px;
  position: relative;
  overflow: hidden;
}
.side-nav-buttons {
  border-style: solid;
  border-color: #171a20;
  border-width: 1px 0px 0px 0px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.side-nav-button {
  border-radius: var(--8, 8px);
  padding: 8px var(--12, 12px) 8px var(--12, 12px);
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 240px;
  height: 44px;
  position: relative;
}
.fi-book-open-white2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.side-nav-button2 {
  color: var(--gray-600, #a8a7a8);
  text-align: left;
  font-family: var(--body-md-medium-font-family, "Figtree-Medium", sans-serif);
  font-size: var(--body-md-medium-font-size, 16px);
  font-weight: var(--body-md-medium-font-weight, 500);
  position: relative;
  flex: 1;
}
.fi-users-white {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.image2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.coins {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.side-nav-button3 {
  background: rgba(255, 255, 255, 0.03);
  border-radius: var(--8, 8px);
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    65.67deg,
    rgba(123, 81, 234, 0) 0%,
    rgba(69, 45, 132, 1) 100%
  );
  border-image-slice: 1;
  padding: 8px var(--12, 12px) 8px var(--12, 12px);
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 240px;
  height: 44px;
  position: relative;
  box-shadow: inset 0px 0px 12.9px 0px rgba(255, 255, 255, 0.08);
  overflow: hidden;
}
.fi-user-white {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.side-nav-button4 {
  color: var(--primary-400, #7b51ea);
  text-align: left;
  font-family: var(
    --body-md-semi-bold-font-family,
    "Figtree-SemiBold",
    sans-serif
  );
  font-size: var(--body-md-semi-bold-font-size, 16px);
  font-weight: var(--body-md-semi-bold-font-weight, 600);
  position: relative;
  flex: 1;
}
.ellipse-7 {
  background: var(--primary-400, #7b51ea);
  border-radius: 50%;
  flex-shrink: 0;
  width: 25.84px;
  height: 28.76px;
  position: absolute;
  left: 227.08px;
  top: calc(50% - 14.38px);
  filter: blur(38.2px);
}
.ellipse-8 {
  background: var(--primary-400, #7b51ea);
  border-radius: 50%;
  flex-shrink: 0;
  width: 25.84px;
  height: 28.76px;
  position: absolute;
  left: 227.08px;
  top: calc(50% - 14.38px);
  filter: blur(17.7px);
}
.rectangle-1 {
  background: linear-gradient(
    180deg,
    rgba(151, 71, 255, 1) 0%,
    rgba(91, 43, 153, 0) 100%
  );
  flex-shrink: 0;
  width: 7px;
  height: 58px;
  position: absolute;
  left: 254.01px;
  top: -14.5px;
  transform-origin: 0 0;
  transform: rotate(45deg) scale(1, 1);
  filter: blur(4.5px);
}
.rectangle-2 {
  background: linear-gradient(
    180deg,
    rgba(151, 71, 255, 1) 0%,
    rgba(91, 43, 153, 0) 100%
  );
  flex-shrink: 0;
  width: 7px;
  height: 58px;
  position: absolute;
  left: 248.01px;
  top: -27.5px;
  transform-origin: 0 0;
  transform: rotate(45deg) scale(1, 1);
  filter: blur(4.5px);
}
